@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ReversiMvcApp.Models.Spel
@{
    ViewData["Title"] = "Details";
}

<h1>Detaisl</h1>

<p>@Model.Bord</p>
<p>@Model.Omschrijving</p>